<!DOCTYPE html>
<html lang="en">
  <head>
    <title>404 Page Not Found</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS v5.2.1 -->
    <link rel="stylesheet" href="/resources/css/bootstrap@5.2.1.css" />

    <link rel="stylesheet" href="/resources/css/font.css" />
  </head>

  <body>
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center vh-100">
        <div class="row justify-content-center">
            <h1 class="text-center">Page Not Found</h1>
            <a href="/login" class="btn-sm btn btn-secondary mt-2">Back</a>
        </div>
      </div>
    </div>

    <!-- Bootstrap JavaScript Libraries -->
    <script src="/resources/js/core@2.11.6.js"></script>

    <script src="/resources/js/bootstrap@5.2.1.js"></script>
  </body>
</html>
