<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Forgot Password</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS v5.2.1 -->
    <link rel="stylesheet" href="/resources/css/bootstrap@5.2.1.css" />

    <link rel="stylesheet" href="/fontawesome-free/css/all.min.css" />

    <link rel="stylesheet" href="/resources/css/font.css" />

    <!-- NProgress Styles -->
    <link rel="stylesheet" href="/resources/css/nprogress@0.2.0.css" />
  </head>

  <body>
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center vh-100">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="card mx-4">
              <div class="card-body p-4">
                <h1>Express JWT</h1>

                <p class="text-muted">Forgot Password</p>
                <p>
                  To reset your password, please enter below a valid and
                  existing email
                </p>

                <div class="text text-danger" id="email-error"></div>

                <form id="emailForgotPasswordForm">
                  <div class="input-group mt-2">
                    <span class="input-group-text">
                      <i class="fa fa-envelope"></i>
                    </span>
                    <input
                      id="email"
                      name="email"
                      type="email"
                      class="form-control"
                      required
                      autocomplete="email"
                      autofocus
                      placeholder="Enter existing email"
                    />
                  </div>

                  <div class="row mt-3">
                    <div class="col-6">
                      <button
                        type="button"
                        class="btn btn-primary w-100"
                        id="sendRequestBtn"
                      >
                        Send Request
                      </button>
                    </div>
                    <div class="col-6 text-right">
                      <button
                        type="button"
                        class="btn btn-secondary w-100"
                        id="loginBack"
                      >
                        Back
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="/resources/js/core@2.11.6.js"></script>

    <script src="/resources/js/bootstrap@5.2.1.js"></script>

    <!-- jQuery Script -->
    <script src="/resources/js/jquery-3.7.1.js"></script>

    <!-- NProgress Script -->
    <script src="/resources/js/nprogress@0.2.0.js"></script>

    <!-- Sweetalert Script -->
    <script src="/resources/js/sweetalert2.js"></script>

    <!-- Font Awesome scripts -->
    <script src="../vendor/fontawesome-free/js/all.min.js"></script>

    <script src="js/forgot-password.js"></script>
  </body>
</html>
