<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />

    <style>
      @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
      body {
        font-family: "Poppins", sans-serif;
      }
    </style>
  </head>
  `
  <body>
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center vh-100">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="card mx-4">
              <div class="card-body p-4">
                <h1>Express JWT</h1>
                <h5>
                  Welcome, <% if (localStorage.getItem("email")?.length !== 0) { %> <%=
                  localStorage.getItem("email") %> <% } %>
                </h5>
                
                <label class="form-label my-2 mt-3">Your token:</label>
                <p>
                  <% if (localStorage.getItem("_token")?.length !== 0) { %>
                  <b><i><%= localStorage.getItem("_token") %></i></b> <% } %>
                </p>
          
                <a href="/api/logout" class="text-decoration-none">Logout</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap JavaScript Libraries -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
      crossorigin="anonymous"
    ></script>

    <!-- jQuery Script -->
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>

    <!-- Sweetalert Script -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Font Awesome scripts -->
    <script src="../vendor/fontawesome-free/js/all.min.js"></script>

    <script src="/js/authenticate-token.js"></script>
  </body>
</html>
