<!DOCTYPE html>
<html lang="en">
  <head>
    <title>500 Server Error</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS v5.2.1 -->
    <link rel="stylesheet" href="/resources/css/bootstrap@5.2.1.css" />

    <link rel="stylesheet" href="/resources/css/font.css" />
  </head>

  <body>
    <div class="d-flex align-items-center justify-content-center vh-100">
      <div class="text-center">
        <h1 class="display-1 fw-bold">500</h1>
        <p class="fs-3">
          <span class="text-danger">Oops!</span> Something went wrong
        </p>
        <p class="lead">Your request didn't process correctly</p>
      </div>
    </div>

    <!-- Bootstrap JavaScript Libraries -->
    <script src="/resources/js/core@2.11.6.js"></script>

    <script src="/resources/js/bootstrap@5.2.1.js"></script>
  </body>
</html>
